Header{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 240px;

    img{
        width: 150px;
        margin-left: 100px;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .nav-header{
        margin-left: 910px; 
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

        li a {
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
            color: black;
            padding-bottom: 5px;
            &.active {
            border-bottom: 2px solid black;
            }
          }
        }
    }
}